@media only screen and (max-width: 767px) {
  /* line 2, style.css.scss */
  #name h1 {
    font-size: 3.5em !important; } }
/* line 9, style.css.scss */
#name h1 {
  margin-bottom: 12px;
  font-size: 4em; }

/* line 15, style.css.scss */
.center {
  text-align: center; }

/* line 19, style.css.scss */
.contact {
  display: inline;
  list-style: none; }
  /* line 23, style.css.scss */
  .contact li {
    display: inline;
    font-size: 3em;
    padding: 0 5px; }
  /* line 29, style.css.scss */
  .contact .question-mark {
    font-weight: bold;
    position: relative;
    bottom: .15em; }

/* line 39, style.css.scss */
.pic img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 5px; }

@media only screen and (max-width: 767px) {
  /* line 52, style.css.scss */
  .hide-on-phones {
    display: none !important; }

  /* line 55, style.css.scss */
  .hide-on-tablets {
    display: block !important; }

  /* line 58, style.css.scss */
  .hide-on-desktops {
    display: block !important; }

  /* line 63, style.css.scss */
  .show-on-phones {
    display: block !important; }

  /* line 66, style.css.scss */
  .show-on-tablets {
    display: none !important; }

  /* line 69, style.css.scss */
  .show-on-desktops {
    display: none !important; } }
