<DOCTYPE!>
    <html>

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
            integrity="sha256-gvEnj2axkqIj4wbYhPjbWV7zttgpzBVEgHub9AAZQD4=" crossorigin="anonymous" />
        <title><%= title %></title>
    </head>

    <body>
        <iframe height="100%" width="100%" src="<%= iframeSrc %>"></iframe>
    </body>

    </html>
</DOCTYPE!>