body {
  background-color: #1e90ff;
  color: rgba(255, 255, 255, 0.85);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: 500;
}

.app {
  transition: color 0.2s ease-in-out 50ms;
}

.linkHovered,
.appHovered {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

a {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid white;
  color: white;
  transition: color 0.2s ease-in-out 50ms,
    border-bottom-color 0.2s ease-in-out 50ms;
}

div {
  margin-bottom: 8px;
}

.app {
  padding: 0 30px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .app {
    padding: 0 10px;
    font-size: 1.75rem;
    height: 80vh;
  }
}

@media screen and (max-width: 576px) {
  div {
    margin-bottom: 10px;
  }
}
